<!DOCTYPE html>
<html lang="en">
<%- include('head',{siteUrl : siteData.siteUrl}); %>

  <body>
    <%- include('header'); %>
      <%- include('about'); %>
      <%- include('events',{events : siteData.events}); %>
      <%- include('gallery',{gallery : siteData.gallery}); %>
      <%- include('team',{teams : siteData.teams}); %>
        <%- include('contact'); %>
          <%- include('footer',{social : siteData.social}); %>
            <%- include('js'); %>
  </body>

</html>